## Local Files
# Cmake Build Files
/build

# Python venv
.venv

# Structurizr
.structurizr/
workspace.json

# VS Code Settings
settings.json

# OpenAPI (Swagger) files
.42c/

## C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
